body{
    background-color:#3d012b;
}

.nav-link{
   color: white; 
   font-weight: bold;
   font-size: 15px;
}

#navBar{
    background-color: #27041d;
    border: 1px solid white;
    margin-bottom: 3rem;
}

.btVoltar{
    margin-left: 2rem;
    margin-right: 1rem;
}
td{
    color: white;
    border: solid 1px white;
}